@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    padding: 15px 0 ;
}

/* En-tête */
.header {
    text-align: center;
    padding: 10px 0 5px;
    background-color: #eeeeee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main {
    background-color: #eeeeee;
}

/* Photo de bio */
.bio-figure {
    text-align: center;
    background-color: #ffffff;
    width: 95vw; /* considéré comme acceptable pour la largeur responsive */
    margin: auto;
}

.bio-image {
    max-width: 750px; 
    height: auto;
}

/* Légende de l’image */
.image-caption {
    font-size: 0.6875rem; /* 11px en rem */ 
    padding: 10px;
}

/* Contenu principal */
.content {
    margin: auto;
    max-width: 450px;
    width: 90%; /* pour s’adapter aussi aux écrans plus petits */
}

.timeline-title {
    font-size: 0.8125rem; /* 13px en rem */
    text-align: center;
    margin: 3rem 0;
}

.timeline {
    font-size: 0.68rem; /* 10.88px en rem */
}
.timeline li {
    margin-bottom: 10px;
}

/* Citation */
.quote, .quote-author {
    font-size: 0.75rem; /* 12px en rem */
    font-style: italic;
    padding: 10px;
}

/* Pied de page */
footer {
    font-size: 0.75rem; /* 12px en rem */
    text-align: center;
    padding: 10px;
}